<form method="post" action="/addProduct">
  <input type="text" name="name" placeholder="Enter name">
  <input type="text" name="category" placeholder="Enter category">
  <button>Save</button>
</form>
