{{#each products}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.category}}</h6>
    <a href="/products/{{this._id}}" class="card-link">Edit</a>
    <a href="/delete/{{this._id}}" class="card-link">Delete</a>
  </div>
</div>
{{/each}}
