<h3>Edit product</h3>
<form method="post" action="/editProduct">
  <input type="text" name="name" value={{product.name}}>
  <input type="text" name="category" value={{product.category}}>
  <input type="text" name="id" value={{product._id}}>
  <button>Save</button>
</form>
